.cart-sidebar {
    position: fixed;
    background-color: white;
    width: 0px;
    top: 0;
    right: -400px;
    bottom: 0;
    padding: 20px;
    box-shadow: hsl(0 0% 0% / 0.5) -4px -4px 8px;
    opacity: 0;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
}

.cart-sidebar.open {
    opacity: 1;
    width: 30%;
    right: 0px;
}

.close-cart {
    background-color: transparent;
    width: 48px;
    height: 48px;
    font-size: 1rem;
}

.cart-heading {
    margin: 20px 0;
}

.cart-items-list {
    height: 50%;
    width: 100%;
    overflow-y: scroll;
    padding: 8px;
    border-top: 1px solid lightgray;
}

.cart-total {
    padding: 20px 0;
    width: 100%;
    color: black;
    font-weight: 800;
    background-color: white;
    border-top: 1px solid lightgray;
}

@media (max-width: 425px) {
    .cart-sidebar {
        opacity: 0;
        height: 100%;
        width: 100%;
        top: 100%;
        left: 0px;
    }

    .cart-sidebar.open {
        opacity: 1;
        top: 10%;
        height: 100%;
        min-width: 100%;
        max-width: fit-content;
    }
}
