.product_card {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    border-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    padding: 20px;
    overflow-x: clip;
    box-shadow: hsl(0 0% 0 / 0.5) 4px 4px 8px;
    cursor: pointer;
}

.product_card:hover {
    border-color: hsl(0 50% 30);
    border-width: 2px;
}

.product_card.selected {
    background-color: hsl(56, 48%, 75%);
}

.product_image_wrapper {
    max-width: 100%;
    max-height: 300px;
    border-radius: 8px;
    overflow: clip;
}

.product_title {
    margin: 8px 0;
    text-align: center;
    font-weight: 600;
}

.product_winery {
    font-style: italic;
}

@media (max-width: 514px) {
    .product_card {
        width: 100%;
    }
}
