.product_card {
    background-color: var(--color-surface);
    border-radius: var(--border-radius-md);
    border-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    padding: var(--spacing-lg);
    overflow-x: clip;
    box-shadow: hsl(0 0% 0 / 0.5) 4px 4px 8px;
    cursor: pointer;
    font-size: inherit;
    color: var(--color-text);
    font-family: var(--text-paragraph);
    font-size: var(--text-md);
}

.product_card:hover {
    border-color: var(--color-stroke);
    border-width: 2px;
}

.product_card.selected {
    background-color: var(--color-highlight);
}

.product_image_wrapper {
    max-width: 100%;
    max-height: 300px;
    border-radius: var(--border-radius-lg);
    overflow: clip;
}

.product_title {
    margin: var(--spacing-sm) 0;
    text-align: center;
    font-weight: 600;
    font-family: var(--text-heading);
    font-size: var(--text-lg);
}

.product_winery {
    font-style: italic;
}

@media (max-width: 514px) {
    .product_card {
        width: 100%;
    }
}
