.cart-item {
    display: flex;
    align-items: center;
    margin: var(--spacing-lg) 0px;
    gap: 10px;
    font-family: var(--text-paragraph);
}

.cart-item-name {
   flex: 2;
   font-size: var(--text-sm);
   color: var(--color-text);
}

.cart-item-image {
    max-width: 10%;
    flex: 1;
}

.cart-item-price {
    font-weight: 800;
    flex: 1;
}

.quantity-minus,
.quantity-plus {
    width: 40px;
    height: 40px;
}
