* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--text-paragraph);
}

main {
    padding: var(--spacing-xxl);
    background-color: var(--color-background);
    display: flex;
    flex-direction: row-reverse;
}

.page_title {
    margin-bottom: var(--spacing-lg);
    text-align: center;
    font-family: var(--text-heading);
}

.wines-list-area {
    width: 100%;
}
