* {
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui;
}

main {
    padding: 40px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: row-reverse;
}

.page_title {
    margin-bottom: 24px;
    text-align: center;
}
