@import url('https://fonts.googleapis.com/css2?family=Croissant+One&family=Gowun+Dodum&family=Orbitron:wght@400..900&display=swap');

:root {

    /* Colors */
    --color-primary:  hsl(345, 35%, 43%); /* hsl(40, 27%, 43%) */;
    --color-accent: hsl(5, 87%, 60%);
    --color-background: hsl(30, 45%, 96%);
    --color-surface: hsl(60, 100%, 100%);
    --color-highlight: hsl(31, 39%, 86%);
    --color-text: hsl(39, 28%, 35%);
    --color-stroke: hsl(230, 90%, 8%);
    --color-heading: hsl(230, 90%, 8%);

    /* Font */
    --text-branding: 'Croissant One', Georgia, serif;
    --text-heading:  'Gowun Dodum', sans-serif;
    --text-paragraph: 'Roboto', sans-serif;

    /* Font Sizes */
    --text-xs: 0.75rem;
    --text-sm: 0.875rem;
    --text-base: 1rem;
    --text-lg: 1.125rem;
    --text-xl: 1.25rem;
    --text-xxl: 1.5rem;
    --text-xxxl: 1.75rem;

    /* Spacing */
    --spacing-xs: 0.25rem; /* 4px */
    --spacing-sm: 0.5rem; /* 8px */
    --spacing-md: 1rem; /* 16px */
    --spacing-lg: 1.5rem; /* 24px */
    --spacing-xl: 2rem; /* 32px */
    --spacing-xxl: 2.5rem; /* 40px */

    /* Component Specific */
    --border-radius-sm: 4px;
    --border-radius-md: 8px; 
}
